### Exercise 01 :

### 1.

In [13]:
sisters = tuple()
brothers = tuple()

In [14]:
print(sisters)

()

In [15]:
print(brothers)

()

### 2.

In [16]:
sisters = ("nikoo" , "Armita" , "Elahe" , "Elham")

brothers = ("Ali" , "Mohammad" , "Navid" , "Heidar" , "Mahdi")

print(sisters)
print(brothers)

('nikoo', 'Armita', 'Elahe', 'Elham')
('Ali', 'Mohammad', 'Navid', 'Heidar', 'Mahdi')

### 3.

In [17]:
siblings = sisters + brothers

In [18]:
print(siblings)

('nikoo', 'Armita', 'Elahe', 'Elham', 'Ali', 'Mohammad', 'Navid', 'Heidar', 'Mahdi')

### 4.

In [19]:
print("I Have  {}  siblings".format(len(siblings)))

I Have  9  siblings

### 5.

In [20]:
lst = list(siblings)

In [21]:
lst.insert(0, "Tayebe")

In [22]:
lst.insert(0, "Akbar")

In [23]:
family_members = tuple(lst)

In [24]:
print("Family Memebers are : ")
print(family_members)

Family Memebers are :
('Akbar', 'Tayebe', 'nikoo', 'Armita', 'Elahe', 'Elham', 'Ali', 'Mohammad', 'Navid', 'Heidar', 'Mahdi')

### Exercise 02 :

### 1.

In [41]:
fruits = ("Papaya" , "Apple" , "Orange " , "Banana ",)
vegetables = ("Cucumber" , "Pumpkin" , "Tomato" , "Peppers" , "Eggplant" ,"String beans" ,"Green peas")
animal = ("Dolphin" , "Dog" , "Cat" , "Goat")

print(fruits)
print(vegetables)
print(animal)

print("\n the type of fruits collecton is : {}".format( type(fruits)))

('Papaya', 'Apple', 'Orange ', 'Banana ')
('Cucumber', 'Pumpkin', 'Tomato', 'Peppers', 'Eggplant', 'String beans', 'Green peas')
('Dolphin', 'Dog', 'Cat', 'Goat')

 the type of fruits collecton is : <class 'tuple'>

### 2.

In [43]:
food_stuff_tp = fruits + vegetables + animal
print(food_stuff_tp)
print("\n the type of joined collecton is : {}".format( type(food_stuff_tp)))

('Papaya', 'Apple', 'Orange ', 'Banana ', 'Cucumber', 'Pumpkin', 'Tomato', 'Peppers', 'Eggplant', 'String beans', 'Green peas', 'Dolphin', 'Dog', 'Cat', 'Goat')

 the type of joined collecton is : <class 'tuple'>

### 3.

In [45]:
food_stuff_ls = list(food_stuff_tp) 
print("\n the type of joined collecton is : {}".format( type(food_stuff_ls)))

 the type of joined collecton is : <class 'list'>

### 4.

In [51]:
ln = (len(food_stuff_ls) // 2) - 1
print(food_stuff_ls[ln : (ln + 1)])

['Tomato']

### 5.

In [54]:
food_stuff_ls[:3] + food_stuff_ls[-3:]

['Papaya', 'Apple', 'Orange ', 'Dog', 'Cat', 'Goat']

### 6.

In [66]:
food_stuff_ls.clear()
food_stuff_tp = tuple(food_stuff_ls)
print(len(food_stuff_tp))

0

In [67]:
del food_stuff_tp

In [68]:
print ("After deleting tup : ")

After deleting tup :

In [69]:
print(food_stuff_tp)

NameError: name 'food_stuff_tp' is not defined

### Exercise 03 :

In [74]:
nordic_countries = ('Denmark' , 'Finland' , 'Iceland' , 'Norway' , 'Sweden')
print(type(nordic_countries))

<class 'tuple'>

In [75]:
def Check_EnteranceCountry_IsInNordicCountry(cntry):
    if cntry in nordic_countries:
        print('True')
    else:
        print('False!')

### 1.

In [76]:
Check_EnteranceCountry_IsInNordicCountry('Estonia')

False!

### 2.

In [77]:
Check_EnteranceCountry_IsInNordicCountry('Iceland')

True