### Exercise 01 :

### 1.

In [115]:
dog = dict()
print(type(dog))
print(dog)

<class 'dict'>
{}

### 2.

In [116]:
dog['name'] = 'Fred'

dog['color'] = 'black'
 
dog['breed'] = 'german'
 
dog['legs'] = 'white'

dog['age'] = '2'

In [117]:
print(dog)

{'name': 'Fred', 'color': 'black', 'breed': 'german', 'legs': 'white', 'age': '2'}

### Exercise 02 :

### 1.

In [118]:
student = {
  'first_name': 'Elham',
  'last_name' : 'Khosravi',
  'gender': 'female',
  'age': 33,
  'skills': ['Data Scientist', 'ML Engineer' , 'web designer'],
  'country': 'Iran',
  'city': 'Esfahan',
  'address': 'Mirdamad st., 57 Alley'
}
print(student.items())

dict_items([('first_name', 'Elham'), ('last_name', 'Khosravi'), ('gender', 'female'), ('age', 33), ('skills', ['Data Scientist', 'ML Engineer', 'web designer']), ('country', 'Iran'), ('city', 'Esfahan'), ('address', 'Mirdamad st., 57 Alley')])

In [119]:
def Print_dic_Student(input_dic):
    for i, j in input_dic.items():
        print(i, ' : ', j)

In [120]:
Print_dic_Student(student)

first_name  :  Elham
last_name  :  Khosravi
gender  :  female
age  :  33
skills  :  ['Data Scientist', 'ML Engineer', 'web designer']
country  :  Iran
city  :  Esfahan
address  :  Mirdamad st., 57 Alley

### 2.

In [121]:
print("the length of the student dictionary is : {}".format(len(student)))

the length of the student dictionary is : 8

### 3.

In [122]:
print("the value of skills are  : {}".format(student['skills']))
print("\nthe data type of skills key in dictionary is : {}".format(type(student['skills'])))

the value of skills are  : ['Data Scientist', 'ML Engineer', 'web designer']

the data type of skills key in dictionary is : <class 'list'>

### 4.

In [123]:
student['skills'].append('Asp.Net MVC')
student['skills'].append('RestfulAPI')
print(student['skills'])
print('\n')
Print_dic_Student(student)

['Data Scientist', 'ML Engineer', 'web designer', 'Asp.Net MVC', 'RestfulAPI']


first_name  :  Elham
last_name  :  Khosravi
gender  :  female
age  :  33
skills  :  ['Data Scientist', 'ML Engineer', 'web designer', 'Asp.Net MVC', 'RestfulAPI']
country  :  Iran
city  :  Esfahan
address  :  Mirdamad st., 57 Alley

### 5.

In [124]:
keys = list(student.keys())
print(keys) 
print(type(keys))

['first_name', 'last_name', 'gender', 'age', 'skills', 'country', 'city', 'address']
<class 'list'>

### 6.

In [125]:
values = list(student.values())
print(values) 
print(type(values))

['Elham', 'Khosravi', 'female', 33, ['Data Scientist', 'ML Engineer', 'web designer', 'Asp.Net MVC', 'RestfulAPI'], 'Iran', 'Esfahan', 'Mirdamad st., 57 Alley']
<class 'list'>

### 7.

In [126]:
print(type(student.items()))

<class 'dict_items'>

In [127]:
list_of_tuples = list(student.items())
print("type of list_of_tuples is : {} \n".format(type(list_of_tuples)))
print(list_of_tuples)

type of list_of_tuples is : <class 'list'>

[('first_name', 'Elham'), ('last_name', 'Khosravi'), ('gender', 'female'), ('age', 33), ('skills', ['Data Scientist', 'ML Engineer', 'web designer', 'Asp.Net MVC', 'RestfulAPI']), ('country', 'Iran'), ('city', 'Esfahan'), ('address', 'Mirdamad st., 57 Alley')]

### 8.

In [128]:
del(student['age'])
Print_dic_Student(student)

first_name  :  Elham
last_name  :  Khosravi
gender  :  female
skills  :  ['Data Scientist', 'ML Engineer', 'web designer', 'Asp.Net MVC', 'RestfulAPI']
country  :  Iran
city  :  Esfahan
address  :  Mirdamad st., 57 Alley

### 9.

In [129]:
for i in range(len(student)):
    student.popitem()

In [130]:
print(student)

{}

In [131]:
print(type(student))

<class 'dict'>